@import "tailwindcss";
@import "tw-animate-css";
/* Не работает в tw4*/
/*@import "@tailwindcss/line-clamp";*/

:root {
  --background: #122F33;
  --foreground: #fff;
  --border: #375458;
  --text: #000;
  --light-green: #A9F576;
  --logo: #C3F2E1;
  --green: #30A235;
  --red: #FF5E25;
  --muted: #71717A;
}

@theme {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-success: var(--light-green);
  --color-logo: var(--logo);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
